<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ADO_NET.Properties.Settings.QuanLyInternetConnectionString"
            connectionString="Data Source=LAPTOP-MEAMVPHN\SQLSERVER;Initial Catalog=QuanLyInternet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>